body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 3rem;
}

.autor{
    color: rgb(2, 28, 12);
    border-bottom: double 1rem rgb(0, 113, 79);
    font-size: 3em;
}

.autorprof{
    color: rgb(2, 28, 12);
    font-size: 2rem;
    
}

.description{
    color: #000000;
}

.contato{
    border: solid rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}

.contato li{
    text-align: left;
    
    
}

.iconnet{
    font-size: 2rem;
}


.tamanho{
    font-size: 40px;
    
    
}